.row.footer-cont
    .col-lg-7.col.md-7.col-sm-6.col-xs-12
        | 1600 Clifton Road Atlanta, GA 30329-4027 USA
        br
        | 800-CDC-INFO (800-232-4636), TTY: 888-232-6348
        br
        a(href='http://wwwn.cdc.gov/dcs/RequestForm.aspxf') Email CDC-INFO
        br
        br
        a(href='#')
            img.img-responsive(src='img/iiu-logo.png', border='0')
    .col-lg-5.col-md-5.col-sm-6.col-sx-12.pull-right(align='right')
        a(href='#')
            img.img-responsive.hhs-logo(src='img/hhs-logo.png', border='0')
        a(href='#')
            img.img-responsive.usa-gov-logo(src='img/usa-gov-logo.png', border='0')
