.row.mmwr-content
	//LEFT COLUMN
	div(ui-view='currentCase')
	//RIGHT COLUMN
	.col-lg-4.col-md-4.col-sm-12.zero-padding-margin
		div(ui-view='previousCase')
		div(ui-view='linkBox')
		div(ui-view='upcomingCase')