.row.mmwr-content
	.button-cont
		.btn.btn-default.btn-circle.glyphicon.glyphicon-remove.pull-right(type='button' ng-click='exit()')
	.col.zero-padding-margin
		.main-content
			.row
				.col-lg-12
					span.title-type The Abstract: 
					span.title-case {{case.title}}
			.row
				.col-lg-12.col-md-12.col-sm-12
					hr.line-margin
			.row
				.col-lg-12
					p(ng-bind-html='case.abstract_text')
					br
					.well
						.row
							.col-md-3.col-xs-6.thumb(ng-repeat= 'image in case.images')
								.thumbnail
									a(ng-click='openModal("lg",image)')
										img#imageresource.img-responsive(src='{{image.image_url}}')
									h4.thumbnail-fig Figure {{image.sequence_id}}
									p.thumbnail-title {{image.title}}
			.row
				.col-lg-12.col-md-12.col-sm-12
					button.btn.btn-mmwr.btn-lg.pull-right.nav-button(type='button', ui-sref='test({caseID:case.case_id, testType:"post"})')
						| Next 
						span.glyphicon.glyphicon-chevron-right