.row.mmwr-content
	.button-cont
		.btn.btn-default.btn-circle.glyphicon.glyphicon-remove.pull-right(type='button' ng-click='exit()')
	.col.zero-padding-margin
		.main-content
			.row
				.col-lg-12
					span.title-type(ng-show='questions.question.post_pre == "pre"') Pre-test:  
					span.title-type(ng-show='questions.question.post_pre == "post"') Post-test:  
					span.title-case {{case.title}}
					span.title-date {{case.publication_date | date}}
			.row
				.col-lg-12.col-md-12.col-sm-12
					hr.line-margin
			.row
				.col-lg-12
					p {{questions.question.question}}
					br
					.well(ng-repeat='answers in answerStats')
						.row
							.col-lg-1.col-md-1.col-sm-1.col-xs-2(align='center')
								label(ng-show='questions.question.post_pre == "post" && answers.correct == 1 ')
									i.fa.fa-3x.fa-check-circle.correct-text
									br
									span.correct-text  Correct Answer
								label(ng-show='questions.question.post_pre=="post" &&  answers.answer_id == selectedAnswer && answers.correct != 1')
									i.fa.fa-3x.fa-times-circle.wrong-text
									br
									span.wrong-text  Your Answer
							.col-lg-11.col-md-11.col-sm-11.col-xs-10
								.row
									.col-lg-11.col-md-11.col-sm-11.col-xs-10
										{{answers.answer}}
								br
								.row
									.col-lg-11.col-md-11.col-sm-11.col-xs-10
										progressbar(animate='false', value='answers.distribution')
											| {{answers.distribution | number:1}}%
					br
					.row
						.col-lg-12.col-md-12.col-sm-12(align='center')
							button.btn.btn-mmwr.btn-lg.pull-right.nav-button(type='button' ng-click='goNext({caseID:case.case_id})')
								| Next
								span.glyphicon.glyphicon-chevron-right
