.row.mmwr-content
	.button-cont
		.btn.btn-default.btn-circle.glyphicon.glyphicon-remove.pull-right(type='button' ng-click='exit()')
	.col.zero-padding-margin
		.main-content
			.row
				H3(ng-if= 'preview') Preview Mode
				.col-lg-12
					span.title-type(ng-show='questions.question.post_pre == "pre"') Pre-test: 
					span.title-type(ng-show='questions.question.post_pre == "post"') Post-test: 
					span.title-case {{case.title}}
			.row
				.col-lg-12.col-md-12.col-sm-12
					hr.line-margin
			.row
				.col-lg-12
					p {{questions.question.question}}
					br
					.well(ng-repeat='answers in questions.answers')
						.row
							.col-lg-1.col-md-1.col-sm-1.col-xs-2(align='center')
								label
									input(type='radio' name='answer' value='{{answers.answer_id}}' ng-model='questions.selectedAnswer')
							.col-lg-11.col-md-11.col-sm-11.col-xs-10
								{{answers.answer}}
					br
					.row
						.col-lg-12.col-md-12.col-sm-12(align='center')
							button.btn.btn-mmwr.btn-lg.nav-button(type='button' ng-click='checkAnswer()' ng-disabled='!questions.selectedAnswer') Submit
