.row(style='background-color:#f2f2f2; height:100vh;')
	.col-lg-12.col-md-12.col-sm-12
		.tab-container
			tabset
				tab(heading="The Case" )
					.row
				tab(heading="Pre-Test")
					.row
				tab(heading="The Abstract")
					.row
				tab(heading="Images")
					.row
				tab(heading="Post-Test")
					.row
				tab(heading="Additional Info")
					.row
.clear-divs