.row(style='background-color:#f2f2f2; height:100vh;')
	.col-lg-12.col-md-12.col-sm-12
		.tab-container
			tabset
				tab(heading="The Case" active="tabCategory[$index].active")
					.row
				tab(heading="Pre-Test" active="tabCategory[$index].active")
					.row
				tab(heading="The Abstract" active="tabCategory[$index].active")
					.row
				tab(heading="Images" active="tabCategory[$index].active")
					.row
				tab(heading="Post-Test" active="tabCategory[$index].active")
					.row
				tab(heading="Additional Info" active="tabCategory[$index].active")
					.row
.clear-divs