.row(style='background-color:#ffffff;')
	.col-lg-12
		.preview-draft-cont
			button.btn.btn-success(type="button" ng-click="previewDraftCase('clicked')")
				| Preview Draft
		.save-draft-cont
			button.btn.btn-success(type="button" ng-click="saveDraftCase('clicked')")
				| Save Draft
		.status-cont
			label Status:
			select.form-control(placeholder='Select a Status' ng-model='case.development_status' ng-options='devStatus as devStatus.description for devStatus in developmentStatus track by ' )
				option(value="") - Select an analyst -
		br
		.create-btn-cont
			button.btn.btn-success(type="button" ng-click="publishCase()")
				| Publish Now				