div(ng-controller="createCaseCtrl" style="background-color:#f2f2f2;")
	.modal-content-create
		.modal-header
			.row
				.col-lg-12
					.create-new-case-cont
						h2(ng-show='!case.case_id') Create New Case
						h2(ng-show='case.case_id') Edit Case
					.save-draft-cont(style='position:absolute; float:left; margin-left:-30px;')
						button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
		.modal-body
			.row
				//LEFT COLUMN
				.col-lg-8.col-md-8.col-sm-8
					.well(style="padding-left:10px;")
						h4 Case Name
						br
						input.form-control(type="text" placeholder="Enter case name" ng-model="case.title")
						br
						input.form-control(type="text" placeholder="Enter tag line " ng-model="case.tag_line")
					.well
						h4 Content
						tabset
							tab(heading="The Case" )
								div(text-angular='',  ng-model="case.case_text")
								div
									h4 Upload Images
									.row
										.col-lg-12
											.well
												.form(name='uploadForm')
													fieldset
														input(type='file', ngf-select= '', ng-model='imageUpload.imageFile', name='file', accept='image/*', required='' ngf-clear-arq='' ngf-reset-on-click='')
														br
														.col-xs-6.col-md-4.col-lg-3
															div.preview-thumbnail
																a.thumbnail
																	img(id='uploadThumb' ng-show='imageUpload.imageFile != null', ngf-src='imageUpload.imageFile' src='')
														.col-xs-6.col-md-4.col-lg-3
															div
																label Image Title
																	input.form-control(type='text' placeholder='enter a title' ng-model='imageUpload.imageTitle')
																label Image Caption
																	input.form-control(type='text' placeholder='Enter image caption (45 characters max)' ng-model='imageUpload.imageCaption' style='width:320px')
													button.btn.btn-primary(ng-click='uploadFile(imageUpload)') Upload
									br
									.row
										.col-lg-12
											accordion(style='background-color:337ab7; color:#000000;')
												accordion-group(style='background-color:#f5f5f5;' is-open="galleryStatus.open")
													accordion-heading(style="cursor:pointer")
														i(ng-class="{'fa fa-plus-circle': !galleryStatus.open, 'fa fa-minus-circle': galleryStatus.open}")&nbsp;
														| Uploaded Images
													.row
														div.col-xs-12.col-md-12.col-lg-12(ng-repeat='image in images track by $index', style="margin-bottom:10px; background-color:#f5f5f5;")
															.well
																.row
																	.col-lg-3.col-md-3.col-sm-3.col-xs-3
																		a.thumbnail
																			img.img-responsive(ng-src="{{image.image_url}}")
																		label
																			input(type='radio' name='{{image.case_id}}' ng-value='1' ng-model='image.featured' ng-change='setFeatureImage(images,image)')
																			|&nbsp Use as featured image 
																	.col-lg-7.col-md-7.col-sm-7.col-xs-7(align='left')
																			.well
																				
																				| Title: &nbsp;
																				label
																					p(ng-show='!image.editing') {{image.title}}
																					input.form-control(ng-show='image.editing' type='text', ng-model='image.title')
																				br
																				
																				| Caption: &nbsp;
																				label
																					p(ng-show='!image.editing') {{image.caption}}
																					input.form-control(ng-show='image.editing' type='text', ng-model='image.caption' style='width:320px')
																				br
																				button.btn.btn-success(ng-show='image.editing' type='button' ng-click='saveImage(image)')
																					| Done 	
																				
																	.col-lg-2.col-md-2.col-sm-2.col-xs-2(align='center')
																		a.del-edit-btn.btn.btn-default.btn-lg.pull-right( href='', data-nodrag='', ng-click='deleteFile(image,$index)') 
																			i.glyphicon.glyphicon-trash
																		a.del-edit-btn.btn.btn-default.btn-lg.pull-right(ng-click='editImage(image)')
																				i.glyphicon.glyphicon-pencil
																//hr(style="color:#dddddd; background-color:#dddddd; height:1px;")

							tab(heading="Pre-Test")
								|   Pre-Test
								button.btn.btn-primary.pull-right(ng-click="copyQuestion('post','pre')") Copy Questions from Post-Test 
								hr
								.row
									.col-lg-12(ui-tree='options')
										ol(ui-tree-nodes='', ng-model='qa.pre', data-type='question')
											li(ng-repeat="question in qa.pre | filter : byQuestionType('pre') track by $index " , ui-tree-node='')
												.topic-title.angular-ui-tree-handle(ng-show='!question.editing' ng-mouseenter="hoveQuestion = true" ng-mouseleave="hoveQuestion = false")
													a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoveQuestion" href='', data-nodrag='', ng-click='removeQuestion(qa.pre,question)')
														i.glyphicon.glyphicon-trash
													a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoveQuestion" href='', data-nodrag='', ng-click='editQuestion(question)')
														i.glyphicon.glyphicon-pencil
													div  {{question.question.question}}
												.topic-title.angular-ui-tree-handle(data-nodrag='', ng-show='question.editing')
													label.sr-only(for='questionText') Question Text
													textarea.form-control(rows='2' cols='100' , placeholder='Question Text', ng-model='question.question.question' ng-keyup='$event.keyCode==13 ? saveQuestion(question,$event) : null' ng-blur='saveQuestion(question,$event)')
												ol(ui-tree-nodes='', ng-model='question.answers', data-type='answer')
													li(ng-repeat='answer in question.answers', ui-tree-node='')
														.subTopic-title.angular-ui-tree-handle(ng-show='!answer.editing' ng-mouseenter="hoverSubTopic = true" ng-mouseleave="hoverSubTopic = false")
															a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubTopic" href='', data-nodrag='', ng-click='removeAnswer(question, answer)')
																i.glyphicon.glyphicon-trash
															a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubTopic" href='', data-nodrag='', ng-click='editAnswer(answer)')
																i.glyphicon.glyphicon-pencil
															.well
																.row
																	.col-lg-1.col-md-1.col-sm-1.col-xs-2(align='center')
																		input(type='radio' name='pre_{{question.question.question_id}}' ng-value='1' ng-model='answer.correct' ng-change='setCorrectAnswer(question,answer)')
																	.col-lg-10.col-md-10.col.sm-10.col-xs-9
																		| {{answer.answer}}
														.subTopic-title.angular-ui-tree-handle(data-nodrag='', ng-show='answer.editing')
															label.sr-only(for='subTopicName') SubTopic name
															textarea.form-control(rows='2' cols='60', ng-model='answer.answer', placeholder='Enter answer text to add answer' ng-keyup='$event.keyCode==13 ? saveAnswer(answer,$event) : null' ng-blur='saveAnswer(answer,$event)')
												ol.angular-ui-tree-nodes(data-nodrag='')
													li.angular-ui-tree-node
														.subTopic-title.angular-ui-tree-handle
															form.form-inline(role='form')
																.form-topic
																	label.sr-only(for='subTopicName') SubTopic name
																	textarea.form-control(rows='2' cols='60', ng-model='question.newAnswerText', placeholder='Enter answer text to add answer' ng-keyup='$event.keyCode==13 ? addAnswer(question,$event) : null' ng-blur='addAnswer(question,$event)')
										br
										ol.angular-ui-tree-nodes
											li.angular-ui-tree-node
												.topic-title.angular-ui-tree-handle
													form.form-inline(role='form')
														.form-topic
															label.sr-only(for='questionText' ) Question Text
															textarea#topicName.form-control(rows='2' cols='100'   placeholder='Enter question text to add new question' ng-model="qa.pre.newQuestionText" ng-keyup='$event.keyCode==13 ? addQuestion(qa.pre,"pre",$event) : null' ng-blur='addQuestion(qa.pre,"pre",$event)')
								.row
									.col-lg-6
										h3 Data binding
										.info
											| {{  }}
										pre.code.
											{{ qa.pre | json }}	
							tab(heading="The Abstract")
								div(text-angular='',  ng-model='case.abstract_text')
							tab(heading="Post-Test")
								|   Post-Test
								button.btn.btn-primary.pull-right(ng-click="copyQuestion('pre','post')") Copy Questions from Pre-Test 
								hr
								.row
									.col-lg-12(ui-tree='options')
										ol(ui-tree-nodes='', ng-model='qa.post', data-type='question')
											li(ng-repeat="question in qa.post | filter : byQuestionType('post') track by $index " , ui-tree-node='')
												.topic-title.angular-ui-tree-handle(ng-show='!question.editing' ng-mouseenter="hoveQuestion = true" ng-mouseleave="hoveQuestion = false")
													a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoveQuestion" href='', data-nodrag='', ng-click='removeQuestion(qa.post,question)')
														i.glyphicon.glyphicon-trash
													a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoveQuestion" href='', data-nodrag='', ng-click='editQuestion(question)')
														i.glyphicon.glyphicon-pencil
													div  {{question.question.question}}
												.topic-title.angular-ui-tree-handle(data-nodrag='', ng-show='question.editing')
													label.sr-only(for='questionText') Question Text
													textarea.form-control(rows='2' cols='100' , placeholder='Question Text', ng-model='question.question.question' ng-keyup='$event.keyCode==13 ? saveQuestion(question,$event) : null' ng-blur='saveQuestion(question,$event)')
												ol(ui-tree-nodes='', ng-model='question.answers', data-type='answer')
													li(ng-repeat='answer in question.answers', ui-tree-node='')
														.subTopic-title.angular-ui-tree-handle(ng-show='!answer.editing' ng-mouseenter="hoverSubTopic = true" ng-mouseleave="hoverSubTopic = false")
															a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubTopic" href='', data-nodrag='', ng-click='removeAnswer(question, answer)')
																i.glyphicon.glyphicon-trash
															a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverSubTopic" href='', data-nodrag='', ng-click='editAnswer(answer)')
																i.glyphicon.glyphicon-pencil
															.well
																.row
																	.col-lg-1.col-md-1.col-sm-1.col-xs-2(align='center')
																		input(type='radio' name='post_{{question.question.question_id}}' ng-value='1' ng-model='answer.correct'  ng-change='setCorrectAnswer(question,answer)')
																	.col-lg-10.col-md-10.col.sm-10.col-xs-9
																		| {{answer.answer}}
														.subTopic-title.angular-ui-tree-handle(data-nodrag='', ng-show='answer.editing')
															label.sr-only(for='subTopicName') SubTopic name
															textarea.form-control(rows='2' cols='60', ng-model='answer.answer', placeholder='Enter answer text to add answer' ng-keyup='$event.keyCode==13 ? saveAnswer(answer,$event) : null' ng-blur='saveAnswer(answer,$event)')
												ol.angular-ui-tree-nodes(data-nodrag='')
													li.angular-ui-tree-node
														.subTopic-title.angular-ui-tree-handle
															form.form-inline(role='form')
																.form-topic
																	label.sr-only(for='subTopicName') SubTopic name
																	textarea.form-control(rows='2' cols='60', ng-model='question.newAnswerText', placeholder='Enter answer text to add answer' ng-keyup='$event.keyCode==13 ? addAnswer(question,$event) : null' ng-blur='addAnswer(question,$event)')
										br
										ol.angular-ui-tree-nodes
											li.angular-ui-tree-node
												.topic-title.angular-ui-tree-handle
													form.form-inline(role='form')
														.form-topic
															label.sr-only(for='questionText' ) Question Text
															textarea#topicName.form-control(rows='2' cols='100'   placeholder='Enter question text to add new question' ng-model="qa.post.newQuestionText" ng-keyup='$event.keyCode==13 ? addQuestion(qa.post,"post",$event) : null' ng-blur='addQuestion(qa.post,"post",$event)')
								.row
									.col-lg-6
										h3 Data binding
										.info
											| {{  }}
										pre.code.
											{{ qa.post | json }}	
							tab(heading="Additional Info")
								div(text-angular='',  ng-model='case.additional_information')
						.clear-divs
				//RIGHT COLUMN
				.col-lg-4.col-md-4.col-sm-4.zero-padding-margin
					.well
						.row
							.col-lg-12
								h4 Publish
						hr(style="border-top: 1px solid #000")
						.row
							.col-lg-6
								button.btn.btn-primary.pull-left(type="button" ng-click="saveDraft()")
									| Save Draft
							.col-lg-6
								button.btn.btn-primary.pull-right(type="button" ng-click="previewDraftCase('edit')")
									| Preview Draft
						hr(style="border-top: 1px solid #fbfbfb")
						.row
							.col-lg-8
								.form-comp-cont-toprow
									label Status:
									select.form-control(placeholder='Select a development status' ng-model='case.development_status' ng-options='devStatus.development_status_id as devStatus.description for devStatus in developmentStatuses' )
									//option(value='{{case.development_status}}') - Select a development status -
									label Status Notes:
									input.form-control(type="text" ng-model = 'case.development_status_notes' placeholder='Enter status note')
									br
									label Visibility:
									select.form-control(placeholder='Select a visibility status' ng-model='case.display_status' ng-options='displayStatus.display_status_id as displayStatus.description for displayStatus in displayStatuses' )
										option(value="") - Select a visibility status -
									br
									label Scheduled Publish Date:
										.dropdown(style="position:relative; z-index:1")
											a#dropdown1.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='')
												.input-group
													div.form-control(type='text')
														| {{case.publication_date | date:'MMM d, yyyy'}}
													span.input-group-addon
														i.glyphicon.glyphicon-calendar
											ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
												datetimepicker(data-on-set-time="publicationDateChanged(newDate, oldDate)" data-ng-model='case.publication_date', data-datetimepicker-config="{ dropdownSelector: '#dropdown1',startView:'day', minView:'day' }")
								br
								.create-btn-cont
									button.btn.btn-success(type="button" ng-click="publishCase()")
										| Publish Now	
					.well
						.row
							.col-lg-12.col-md-12.col-sm-12
								h4 CME Credit
								hr(style="border-top: 1px solid #000")
								label Add CME Credit:
									br
									label
										input(type="radio" ng-model='case.available_cme_credits' ng-value="1")
										|&nbsp; Yes   
									label.pull-right
										input(type="radio" ng-model='case.available_cme_credits' ng-value="0")
										|&nbsp;No
						.row
							.col-lg-8
								label CME Credit Hours:
									br
									input(type="number" max = '5' min = '1' ng-model = 'case.number_cme_credits_available' ng-disabled = 'case_available_cme_credits==0')
								br
								label Release Date:
									.dropdown
										a#dropdown2.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='')
											.input-group
												div.form-control(type='text')
													| {{case.cme_release_date | date:'MMM d, yyyy'}}
												span.input-group-addon
													i.glyphicon.glyphicon-calendar
										ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
											datetimepicker(data-on-set-time="cmeReleaseChanged(newDate, oldDate)" data-ng-model='case.cme_release_date', data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'day', minView:'day' }")
								br
								label Expiration Date: 
									.dropdown
										a#dropdown3.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='')
											.input-group
												div.form-control(type='text')
													| {{case.cme_valid_until | date:'MMM d, yyyy'}}
												span.input-group-addon
													i.glyphicon.glyphicon-calendar
										ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
											datetimepicker(data-on-set-time="cmeValidChanged(newDate, oldDate)" data-ng-model='case.cme_valid_until', data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'day', minView:'day' }")
					