doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MMWR Case of the Week
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/sticky-footer-navbar.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/css/loading-bar.min.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")
  
  body
    .container-fluid
        .row.headerblue
                    .col-lg-7.col-md-7.col-sm-7.clearfix
                        span.visible-lg
                            //- a(href='http://www.cdc.gov' target='_blank')
                            //-     img.img-responsive.pull-left.cdclogo(src='img/cdc_logo.png', alt='CDC logo')
                            span.cdctext mmwrcase
                            //- span.header_icon
                            //-     img(src='img/header_graphic_alpha.png', alt='mmwrcase graphic')
                            // This line changed for new graphic
                        span.visible-md
                            //- a(href='http://www.cdc.gov' target='_blank')
                            //-     img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
                            span.cdctext2 mmwrcase
                            //- span.header_icon
                            //-     img(src='img/header_graphic_small_alpha.png', alt='mmwrcase graphic')
                            // This line changed for new graphic
                        span.visible-sm
                            //- a(href='http://www.cdc.gov' target='_blank')
                            //-     img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
                            span.cdctext3 mmwrcase
                            //- span.header_icon
                            //-     img(src='img/header_graphic_smaller_alpha.png', alt='mmwrcase graphic')
    block main-content
    //include currentUser                     
    include scripts