doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MMWR - Case of the Week
    link(rel="stylesheet" href="/vendor/textAngular/textAngular.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/angular-ui-tree.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/sticky-footer-navbar.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/css/create-new-case.css")
    
    link(rel="stylesheet" href="/css/loading-bar.min.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="stylesheet" href="/vendor/angular-dialog/dialogs.css")
    link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")
    link(rel="stylesheet" href="/css/ng-animate-overrides.css")
    link(rel="stylesheet" href="/css/style.css")
  
  body(ng-controller='rootCtrl')
    #cw-container
        //HEADER
        .row.mw-header
            .col-lg-9.col-md-9.col-sm-8
                .logo
                    a(ui-sref='home')
                        img(src='img/mmwr-logo.png')
            .col-lg-3.col-md-3.col-sm-4(ng-controller='loginCtrl')
                .user
                    i.glyphicon.glyphicon-user.user-icon &nbsp;
                    a(href="" ng-click="openLogin('md')" ng-hide='identity.isAuthenticated()')
                        | Login
                    ng-include(src="'/partials/userNav'" ng-show='identity.isAuthenticated()')
                    
        //SUB HEADER
        .row.sub-header
            .col-lg-9.col-md-9.col-sm-8.col-xs-6
                .case
                    a(href='')
                        h4 Case of the Week
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                div(style='search-box')
                    .input-group
                        input.form-control(type='text' placeholder='Search Cases' ng-model='query' typeahead-on-select='selected($item)' typeahead='case as case.title for case in searchableCases| filter:$viewValue | limitTo:10')
                        span.input-group-btn
                            button.btn.btn-default(type='submit')
                                i.glyphicon.glyphicon-search
        block main-content 
        

    //include currentUser                     
    include scripts