doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MMWR - Case of the Week
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/sticky-footer-navbar.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/css/loading-bar.min.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")
    link(rel="stylesheet" href="/css/ng-animate-overrides.css")
  
  body(ng-controller='rootCtrl')
    #cw-container
        //HEADER
        .row.mw-header
            .col-lg-9.col-md-9.col-sm-8
                .logo
                    a(ui-sref='home')
                        img(src='img/mmwr-logo.png')
            .col-lg-3.col-md-3.col-sm-4
                .user
                    i.glyphicon.glyphicon-user.user-icon
                    a.dropdown-toggle(href='' data-toggle='dropdown')
                        |  John Smith
                        b.caret
                    ul.dropdown-menu.pull-right.user-dd
                        li
                            a(href='#')
                                | My Activity 
                                i.glyphicon.glyphicon-check.user-icon
                        li
                            hr.dd-hr
                        li
                            a(href='')
                                | Log off 
                                i.glyphicon.glyphicon-off.user-icon
        //SUB HEADER
        .row.sub-header
            .col-lg-9.col-md-9.col-sm-8.col-xs-6
                .case
                    a(href='')
                        h4 Case of the Week
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                div(style='search-box')
                    .input-group
                        input.form-control(type='text' placeholder='Search Cases' ng-model='selected' typeahead='case as case.title for case in searchableCases| filter:$viewValue | limitTo:10')
                        span.input-group-btn
                            button.btn.btn-default(type='submit')
                                i.glyphicon.glyphicon-search
        block main-content 
        //FOOTER
        .row.footer-cont
            .col-lg-7.col.md-7.col-sm-6.col-xs-12
                | 1600 Clifton Road Atlanta, GA 30329-4027 USA
                br
                | 800-CDC-INFO (800-232-4636), TTY: 888-232-6348
                br
                a(href='http://wwwn.cdc.gov/dcs/RequestForm.aspxf') Email CDC-INFO
                br
                br
                a(href='#')
                    img.img-responsive(src='img/iiu-logo.png', border='0')
            .col-lg-5.col-md-5.col-sm-6.col-sx-12.pull-right(align='right')
                a(href='#')
                    img.img-responsive.hhs-logo(src='img/hhs-logo.png', border='0')
                a(href='#')
                    img.img-responsive.usa-gov-logo(src='img/usa-gov-logo.png', border='0')


    //include currentUser                     
    include scripts