.left-content
	.row
		.col-lg-8.col-md-6.col-sm-6.col-xs-6
			h4 Current Case
		.col-lg-4.col-md-6.col-sm-6.col-xs-6.rating-sty
			rating(ng-model='currentCase.rating' max ='max' readOnly='isReadOnly' on-hover='hoveringOver(value)' on-leave='overStar = null')
	.row
		.col-lg-12.col-md-12.col-sm-12
			hr
	.row
		.col-lg-9.col-md-8.col-sm-8.col-xs-8
			h4.current-case-title {{currentCase.title}}
			span.current-case-date {{currentCase.publication_date | date}}
			br
			br
			strong Overview
			br
			| {{currentCase.overview}}
			br
			br
			button.btn.btn-mmwr(type='button' ui-sref='overview({caseID:currentCase.case_id})') Begin Case
		.col-lg-3.col-md-4.col-sm-4.col-xs-4
			//img.img-thumbnail(src='img/influenza.jpg')
			img.img-thumbnail(src='{{featuredImageUrl}}')
	.row
		.col-lg-12.col-md-12.col-sm-12.people-liked
			span.people-liked-text Other highly rated cases...
			.well
				div(ng-repeat='case in topCases')
					span.teaser-title
						a(ui-sref='overview({caseID:case.case_id})') {{case.title}}&nbsp;
						rating(ng-model='case.rating' max ='max' readOnly='isReadOnly' on-hover='hoveringOver(value)' on-leave='overStar = null')
					br
					span.teaser-date {{case.publication_date | date}}
					br
					| {{case.tag_line}}
					br
					br

			
				