body
	.modal-header
		button.close(type='button' ng-click='cancel()')
			.fa.fa-times
		h4.modal-title Feedback
	.modal-body
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		textarea.feedback-area
	.modal-footer
		button.btn.btn-mmwr.pull-right(type='button' ng-click='ok()') Submit
