.row
	.col-lg-12.col-md-12.col-sm-12
		.link-box
			.row
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.sep-box(align='center')
					a(ng-click='openFeedbackModal("md")')
						img.img-responsive(src='img/feedback-icon.png')
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.sep-box(align='center')
					a(ng-click='openAboutModal("lg")')
						img.img-responsive(src='img/about-us-icon.png')
				.col-lg-4.col-md-4.col-sm-4.col-xs-4.sep-box(align='center')
					a(ng-click='openFaqModal("md")')
						img.img-responsive(src='img/help-icon.png')