//PREVIOUS CASE
.row
	.col-lg-12.col-md-12.col-sm-12
		.previous-cases
			div
				h4 Previous Cases
				hr.hr-prev-up
			.previous-cases-content
				.row(ng-repeat='case in previousCases')
					.col-lg-7.col-md-8.col-sm-8.col-xs-8
						span.teaser-title
							a(href='#') {{case.title}}
						br
						span.teaser-date {{case.publication_date | date}}
					.col-lg-5.col-md-4.col-sm-4.col-xs-4
						span.status-complete.pull-right
							| Completed
					.col-lg-12.col-md-12.col-sm-12
						| {{case.tag_line}}
						hr